<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>基础综合实力</title>
	</head>
	<body>
		<div id="app">
		<h1>综合实例</h1>
		<p>{{bol?'添加':'更新'}}</p>
		<hr />
		<label>姓名</label>:
		<input type="text" v-model="username"  value="" /><br />
		<label>年龄</label>:
		<input type="text" v-model="age" value="" /><br />
		<label>性别</label>:
		<label><input type="radio" name="sex" v-model="sex" value="男" />男</label>
		<label><input type="radio" name="sex" v-model="sex"  value="女" />女</label><br />
		<label>爱好</label>:
		<label><input type="checkbox" v-model="love" value="足球" />足球</label>
	    <label><input type="checkbox" v-model="love"value="蓝球" />蓝球</label>
		<label><input type="checkbox" v-model="love"value="棒球" />棒球</label>
		<label><input type="checkbox" v-model="love"value="气球" />气球</label><br />
		<label>职业</label>:
		<select v-model="job">
			<option value="程序员鼓励师">程序员鼓励师</option>
			<option value="产品经理">产品经理</option>
			<option value="刺客">刺客</option>
			<option value="消防员">消防员</option>
		</select><br />
		<button v-show="bol" @click="add()">添加</button>
		<button v-show="!bol" @click="update()">更新</button>
		<hr />
		
		<p>展示</p>
		<table border="1" >
			<tr>
				<th>序号</th>
				<th>姓名</th>
				<th>年龄</th>
				<th>性别</th>
				<th>爱好</th>
				<th>职业</th>
				<th>操作</th>
			</tr>
			<tr v-for="(item,index) in bigArr">			
				<td v-text='index+1'></td>
				<td >{{item.username}}</td>
				<td >{{item.age}}</td>
				<td >{{item.sex}}</td>
				
				<td >
					<span v-for="aa in item.love">{{aa}} </span>
				</td>
				<td >{{item.job}}</td>
				<td >
				  <button @click="del(index)">删除</button>
                  <button @click="edit(index)">编辑</button>
				</td>
			</tr>
		</table>
		</div>
	</body>
</html>
<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	var app = new Vue({
		el:'#app',
		data:{
			bigArr:[],  //总体操作数组
			username:'',
			age:'',
			sex:'男',
			love:[],
			job:'程序员鼓励师',
			bol:true,
			Index:null,
		},
		methods:{
			//添加数据
			add(){
				var obj = {
					username:this.username,
					age:this.age,
					sex:this.sex,
					love:this.love,
					job:this.job,
			
				};
				// 添加到bigArr中
				this.bigArr.push(obj);
				//复位
				this.username='';
				this.age='';
				this.sex='男';
				this.love=[];
				this.job='消防员';
			},
			// 编辑数据,前台传过来一个下标, 根据下标返现内容,需要一个公共的下标,进行提交
			edit(id){
				this.bol = false;
				// 记录全局下标
				this.Index=id;
				var obj = this.bigArr[id];
				// 设置数据
				this.username = obj.username;
				this.age= obj.age;
				this.sex= obj.sex;
				this.love= obj.love;
				this.job= obj.job;
			},
			//更新数据
			update(){		
				//添加到bigArr中
				var obj = this.bigArr[this.Index];
					obj.username=this.username;
					obj.age=this.age;
					obj.sex=this.sex;
					obj.love=this.love;
					obj.job=this.job;	
				//复位
				this.username='';
				this.age='';
				this.sex='男';
				this.love=[];
				this.job='消防员';
				this.bol=true;
				this.index= null;
			},
			del(id){
			var obj = this.bigArr;
			 obj.splice(id,1);
			},
		},
	})		
	
</script>
